/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';
  /* Project id 3617708 */
  src: url('//at.alicdn.com/t/c/font_3617708_cf2f4owiuf.woff2?t=1665197830867') format('woff2'),
    url('//at.alicdn.com/t/c/font_3617708_cf2f4owiuf.woff?t=1665197830867') format('woff'),
    url('//at.alicdn.com/t/c/font_3617708_cf2f4owiuf.ttf?t=1665197830867') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e694";
}

.icon-ditu_o:before {
  content: "\ebbc";
}

.icon-lingsheng:before {
  content: "\e6af";
}

.icon-dingdanguanli:before {
  content: "\e60b";
}

.icon-gouwuche:before {
  content: "\e75b";
}

.icon-shouye:before {
  content: "\e604";
}

.icon-wode:before {
  content: "\e606";
}

